@model QuickPass.Models.Event

@{
    ViewData["Title"] = "Event Details";
}

<h1 class="text-center my-4">Event Details</h1>

<div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Event Information</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <img src="images/blank-featured-image.jpg" alt="Event Image" class="img-fluid rounded" />
            </div>
            <div class="col-sm-8">
                <dl class="row">
                    <dt class="col-sm-3 font-weight-bold">Name:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                    <dt class="col-sm-3 font-weight-bold">Description:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

                    <dt class="col-sm-3 font-weight-bold">Venue:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Venue)</dd>

                    <dt class="col-sm-3 font-weight-bold">Date:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Date)</dd>

                    <dt class="col-sm-3 font-weight-bold">Total Tickets:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.TotalTickets)</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.EventId" class="btn btn-primary btn-lg">Edit</a>
    <a asp-action="Index" class="btn btn-secondary btn-lg">Back to List</a>
</div>
